<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="assets/angular/angular.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link rel="stylesheet" href="assets/angular/angular-csp.css"/>
    <title>Document</title>
</head>
<body ng-controller="myCtrl">
<p class="turul_hohiyahu">egesig doluga</p>
<table class="table">
    <tr>
        <th class="monggol" ng-repeat="item in egesig">{{item[0]}}</th>
    </tr>
    <tr>
        <td ng-repeat="item in egesig">{{item[1]}}</td>
    </tr>
</table>
<p class="turul_hohiyahu">bwhwile</p>
<table class="table">
    <tr>
        <th class="monggol" ng-repeat="item in list">{{item[0]}}</th>
    </tr>
    <tr>
        <td ng-repeat="item in list">{{item[1]}}</td>
    </tr>
</table>
<p class="turul_hohiyahu">oncagai</p>
<table class="table">
    <tr>
        <th class="monggol" ng-repeat="item in bosud">{{item[0]}}</th>
    </tr>
    <tr>
        <td ng-repeat="item in bosud">{{item[1]}}</td>
    </tr>
</table>
<p class="turul_hohiyahu">Test</p>
<table class="table">
    <tr>
        <td class="monggol">ᠠᠩᠴᠢᠨ</td>
        <td class="monggol">ᠠᠶᠠᠰ</td>
        <td class="monggol">ᠠᠮᠤᠷ</td>
        <td class="monggol">ᠠᠪ</td>
        <td class="monggol">ᠶᠠᠪᠤᠭ</td>
        <td class="monggol">ᠡᠷᠬᠢᠮ</td>
        <td class="monggol">ᠮᠣᠩᠭᠣᠯ</td>
        <td class="monggol">ᠨᠦᠬᠦᠳ</td>
        <td class="monggol">ᠵᠦᠩ</td>
        <td class="monggol">ᠵᠦᠭ</td>
        <td class="monggol">ᠨᠦᠦ</td>
        <td class="monggol">ᠵᠤᠬᠢᠰᠲᠠᠢ</td>
        <td class="monggol">ᠩ</td>
    </tr>
    <tr>
        <td>angcin</td>
        <td>ayas</td>
        <td>amur</td>
        <td>ab</td>
        <td>yabug</td>
        <td>erhim</td>
        <td>monggol</td>
        <td>hwhwwd</td>
        <td>jwng</td>
        <td>jwg</td>
        <td>nww</td>
        <td>johistai</td>
        <td>ng</td>
    </tr>
</table>
</body>
</html>
<script src="assets/js/script.js"></script>
