@font-face {
    font-family: 'monggol';
    src: url('../../../assets/font/mfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* { padding: 0; margin: 0; font-style: normal;}
ul { list-style-type: none;}

.list2 { display: flex;
    li { text-align: center; flex: 1;
        .list2_item { padding: 5px 0; border: 1px solid #999;
            > div { height: 20px; line-height: 20px;}
        }
        .mg2 { margin: 0 auto; font-size: 30px; height: 60px !important; line-height: 60px !important;
            font-family: 'monggol';
            -webkit-writing-mode: vertical-lr;
            -webkit-text-orientation: sideways-right;
            writing-mode: tb-lr;
            -ms-writing-mode: vertical-lr;
            text-orientation: sideways-right;
            font-family: 'monggol';
        }
    }
}
